<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <form class="layui-form" th:action="@{/flower/feign/save}" method="post" th:object="${bean}" enctype="multipart/form-data">
        <input type="hidden" th:value="*{id}" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label required">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" lay-reqtext="名称不能为空" placeholder="请输入名称"
                       th:value="*{name}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">类型</label>
            <input type="text" name="type" placeholder="请输入类型"
                   th:value="*{type}" class="layui-input">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">库存</label>
            <input type="number" name="stock" placeholder="请输入库存"
                   th:value="*{stock}" class="layui-input">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">价格</label>
            <div class="layui-input-block">
                <input type="number" name="price" placeholder="请输入价格"
                       th:value="*{price}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">花语</label>
            <div class="layui-input-block">
                <input type="text" name="floMean" placeholder="请输入花语"
                       th:value="*{floMean}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">图片</label>
            <div class="layui-input-block">
<!--                <input type="text" name="photo" placeholder="文件上传功能暂未实现，敬请期待..."-->
<!--                       th:value="*{photo}" class="layui-input">-->

            </div>
            <div id="btn" style="width: 100px;margin-left: 90px;margin-bottom: 10px">
                <input type="file" name="pictureFile" id="pictureFile" class="file" onclick="daojishi()">
            </div>
            <!-- 文件名显示区域 -->
            <div id="filename"></div>
            <!-- 轮询文件名 -->
            <script>
                function daojishi() {
                    setInterval("getname()",1000);
                }
            </script>
            <!-- 获取文件名 -->
            <script>
                function getname() {
                    var filename = $("#btn .file").val();
                    $("#filename").text(filename);
                }
            </script>
<!--            <button type="button" class="layui-btn" id="uploadpic" name="photo">上传图片</button>-->
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/layui-v2.5.5/layui.js}"charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            // formData =  new FormData(),
            // pictureFile = document.getElementById("pictureFile").files[0];
            $ = layui.$;
        //formData.append("pictureFile",pictureFile);
        // var bean = JSON.stringify({
        //     "id":parseInt($('id').text()),
        //     "name":$('name').val(),
        //     "type":$('type').val(),
        //     "stock":parseInt($('stock').text()),
        //     "price":parseInt($('price').text()),
        //     "floMean":$('floMean').val(),
        // })
        //formData.append('bean', new Blob([bean],{type: "application/json"}));
        //监听提交
        //form.on('submit(saveBtn)', function (data) {
        form.on('submit(saveBtn)', function () {
            // $.ajax({
            //     url:"/flower/feign/save",
            //     type:"post",
            //     contentType:false,
            //     processData:false,
            //     dataType:"json",
            //     data:formData,
            // })
            //使用JQuery的AJAX提交
            // $.post("/flower/feign/save",data.field,function (data) {
            //     console.log(data);
            // })
            // 关闭弹出层
            layer.close();
            var iframeIndex = parent.layer.getFrameIndex(window.name);
            parent.layer.close(iframeIndex);
        });

        return false;

    });
</script>
</body>
</html>