<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理-注册</title>
    <div th:replace="~{common::css}"></div>
    <div th:replace="~{common::sign-in-up}"></div>
</head>
<body>
<div class="layui-container">
    <div class="admin-login-background">
        <div class="layui-form login-form">
            <form class="layui-form" th:action="@{/user/consumer/register}" method="post">
                <div class="layui-form-item logo-title">
                    <h1>Sign Up</h1>
                </div>
                <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-username" ></label>
                    <input type="text" name="account" lay-verify="required|account" placeholder="用户名" autocomplete="off" class="layui-input" >
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-password" ></label>
                    <input type="password" name="password" lay-verify="required|password" placeholder="密码" autocomplete="off" class="layui-input" >
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-password" ></label>
                    <input type="password" name="cfmPassword" lay-verify="required|password" placeholder="请确认密码" autocomplete="off" class="layui-input" >
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit="" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{common::js}"></div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer;

        // 粒子线条背景
        $(document).ready(function(){
            $('.layui-container').particleground({
                dotColor:'#7ec7fd',
                lineColor:'#7ec7fd'
            });
        });
    });
</script>
</body>
</html>